.Dashboard{
    height:100%;
    text-align: center;

}
.Dashboard .Header {
    background-color: #ecf0f5;
}

.Dashboard .Header h3.DashHeading {
  float:right;
  font-size:24px;

    

}
.Dashboard .Header h3 span {
    float:right;
    margin-left:10px;
    font-size:15px;
    font-weight: 300;
    position: relative;
    top: 9px;
    
    

}

